panrate 1000

hao clear

# When we see "enter commands yourself", we are done
hao tgt enter further commands yourself
hao cmd script termherc.rc

# On IPL, PDOS will unconditionally unzip the hercauto.zip and
# run hercauto.bat (if found)
ipl 1b9
