# PDOS sort of needs 592 MB. The first address space only
# needs 160 MB though. And even that isn't really required.
MAINSIZE             600

# S/370 actually gives us S/380 under Hercules/380
ARCHMODE             S/370

AM24MODE             32
AM31MODE             32

CPUSERIAL            000611
CPUMODEL             4381

DIAG8CMD             ENABLE
NUMCPU               1 
OSTAILOR             QUIET
PANRATE              MEDIUM
PGMPRDOS             RESTRICTED
CODEPAGE             819/1047

# Ideally put the console first. It can be either an integrated
# console (3215-C) or a "normal" telnet console (3215). The address
# can be anything. For micro-emacs to work make it a 1052 instead,
# but not a 1052-C as PDOS doesn't support that, because it thinks
# it is in character mode when it isn't.

0009      3215-C     noprompt


# This is the IPL disk and can be any address

01b9      3390       pdos00.cckd
