MAINSIZE             4096

ARCHMODE             z/Arch

CPUSERIAL            000611
CPUMODEL             4381

DIAG8CMD             ENABLE
NUMCPU               1 
OSTAILOR             QUIET
PANRATE              MEDIUM
PGMPRDOS             RESTRICTED
CODEPAGE             819/1047
CNSLPORT             3270

# Ideally put the console first. It can be either an integrated
# console (3215-C) or a "normal" telnet console (3215). Or a 3270
# terminal. Or an EBCDIC ANSI terminal (1052 repurposed for this).
# The address can be anything.

#0009      3215-C     / noprompt
#0009      3215       noprompt
0009      3270
#0009      1052       noprompt
#0009      1052-C      / noprompt

# This is the IPL disk and can be any address

01b9      3390       pdos00.cckd
