# PDOS sort of needs 592 MB. The first address space only
# needs 160 MB though. And even that isn't really required.
MAINSIZE             600

ARCHMODE             ESA/390

CPUSERIAL            000611
CPUMODEL             4381

DIAG8CMD             ENABLE
NUMCPU               1 
OSTAILOR             QUIET
PANRATE              MEDIUM
PGMPRDOS             RESTRICTED


# Ideally put the console first. It can be either an integrated
# console (3215-C) or a "normal" telnet console (3215). The address
# can be anything.
# Note that the telnet command required is:
# telnet localhost 3270
# 3270 is correct, even though it's a 3215

0009      3215-C     noprompt
#0009      3215       noprompt


# This is the IPL disk and can be any address

01b9      3390       pdos00.cckd
